New feature: add support for Bell messages

The RFB protocol supports Bell messages (see [RFC 6143, section 7.6.3](https://www.rfc-editor.org/rfc/rfc6143#section-7.6.3) or [RealVNC spec, section 7.5.3](https://github.com/rfbproto/rfbproto/blob/master/rfbproto.rst#bell). When the server issues such message, the client is suppose to emit a sound (ring a bell). For now, AVNC doesn’t support this. Any chance to add this feature?

I see it was already requested (see #267) and I can work on it if needed.